

assignments/*.aux
assignments/*.log
assignments/*.out
assignments/*.fdb_latexmk
assignments/*.fls
assignments/*.synctex.gz
assignments/*.blg
assignments/*.bbl
assignments/*.toc


project/*.txt
project/*.bbl
project/paper-v2Notes.bib
project/*.synctex.gz
project/*.aux
project/*.blg
project/*.fdb_latexmk
project/*.fls
project/*.log
project/*.out

material/

lecture-notes/*.bst
lecture-notes/*.aux
lecture-notes/*.bbl
lecture-notes/*.blg
lecture-notes/*.fdb_latexmk
lecture-notes/*.fls
lecture-notes/*.log
lecture-notes/*.out
lecture-notes/*.synctex.gz
lecture-notes/*.toc
lecture-notes/*.bib

fig-files/notes-figs/main-figure.svg
fig-files/notes-figs/main-figure.svg.2024_03_02_18_42_09.0.svg
fig-files/paper-figs/drawing.svg
fig-files/figures.ipynb

datasets/



